/* 
COLORS
white: #ffffff
off-white - content background: #edf2f6
light-grey - highlights: #dce4ea
light/medium grey - edit button #8897b1
medium grey darker - content header: #6f7e95
dark grey - sidebar & fonts: #3d495e;
darkest grey - sidebar hover: #354052;

red: #e0185f
yellow: ##edda3b
green: #12a489
teal: #4bb6c4
bright blue: #02abee
linkedin blue: #047fbd
facebook blue: #496ec0
purple: #ab6aaa
*/

* {
  /* border: blue solid 2px; */
  font-family: Mukta
}

button {
  cursor: pointer;
}

body,
.side-buttons-container,
.main-header-container,
.main-header-info,
.main-header-sub-info,
.main-nav,
.graphs-container,
.main-content-container,
.content-header-container,
.content-subsection,
.person-container,
.social-media-container {
  display: flex;
}

.side-buttons-container,
.main-header-info,
.social-media-container {
  flex-direction: column;
}

body {
  background-color: white;
  color: #6f7e95;
}

.left-side {
  background-color: #3d495e;
  color: #dce4ea;
}

.side-nav {
  padding: 0;
}

.side-nav-sections {
  border-top: 2px solid #354052;
}

.side-options-container {
  padding-left: 0;
}

.top-nav-option,
.main-header-button {
  border: 2px solid #dce4ea;
  background-color: #ffffff;
  color: #6f7e95;
}

.top-nav-button:hover,
.main-header-button:hover {
  background-color: #02abee;
  color: #ffffff;
}

.preview {
  color: #02abee
}

ul, li {
  list-style-type: none;
}

.main-nav-option:hover {
  border-bottom: 2px solid #02abee;
}

.summary {
  background-color: #edf2f6;
}

.content-header-container {
  background-color: #6f7e95;
}

.content-header-title {
  color: #edf2f6;
}

.content-header-button {
  background-color: #8897b1;
  color:#edf2f6;
  border: 0;
}

.content-table {
  background-color: #ffffff;
}

.content-divider {
  height: 1px;
  width: 90%;
  background-color: #dce4ea;
}

.tools {
  color: #6f7e95;
}

.social-media-button {
  border: 0;
  color: #ffffff
}

#facebook {
  background-color: #496ec0
}

#twitter {
  background-color: #02abee
}

#linkedin {
  background-color: #047fbd
}

.copy-link-button {
  background-color: #4bb6c4
}